.btn-text{
    color:#E56135;
    border: 0.7px solid 
    #A9AEB8;
    width: 100%;
    text-align: center;
    margin: auto;
}
.btn-text-2{
    color:#02B875;
    border: 0.7px solid 
    #A9AEB8;
    width: 100%;
    text-align: center;
    margin: auto;
}